@using DigitalLibrary.Web.ViewModels.Work
@model WorkPublicDetailsViewModel
@{
    ViewBag.Title = "Details";
}
<h2>@Model.Title</h2>
<div class="row jumbotron">
    <div class="col-lg-5" style="word-wrap:break-word">
        <div><strong>Author:</strong> @Model.AuthorName</div>
        <div><strong>Year:</strong> @Model.Year </div>
        <strong>Desctiption:</strong>
        <p id="desctiption-details-text">@Model.Description</p>
    </div>
    <div class="col-lg-offset-7">
        <a class="btn btn-info hoover-pop dowload-button" href="@Url.Action("DownLoad", "WorkPublic", new { @Model.Id })">
            Download
        </a>
        <img src="@Url.Content("~/" + @Model.PictureLink)" class="img-responsive" style="width:400px" />
    </div>

    <div class="col-lg-3">
        @Html.Action("GetLikes", "LikePublic", new { WorkId = Model.Id})  
    </div>
</div>
<br />
<div id="Comments">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
</div>

<div>
   @Html.Partial("_PostCommentTemplate", Model.Id)    
</div>
@section scripts{
    <script>
        function commentPostFailure() {
            alert("Error");
        }

        function clearText() {
            $("#comment-content-textarea").val("");
        }

        function hideVoteUpButton() {
            $("#vote-up-button").hide();
            $("#vote-down-button").show();

        }

        function hideVoteDownButton() {
            $("#vote-down-button").hide();
            $("#vote-up-button").show();
        }
    </script>
}

